.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px 16px;
}

.item.removed {
  text-decoration: line-through;
}

.item>p {
  margin: 0;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #646cffc2;
}

.item>.actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  align-items: center;
}

.item>.actions>button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0.5em 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}