.Kanban {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 8px;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}